#Directories

.vs/
bin-int/

bin/
!vendor/bin/

#Files

*.user
*.vcxproj
*.filters
*.sln
Sandbox/imgui.ini

Lypant/vendor/Vulkan/**
!Lypant/vendor/Vulkan/Include/
!Lypant/vendor/Vulkan/Include/vulkan/
!Lypant/vendor/Vulkan/Include/vulkan/**
!Lypant/vendor/Vulkan/Lib/
!Lypant/vendor/Vulkan/Lib/vulkan-1.lib