[submodule "Lypant/vendor/spdlog"]
	path = Lypant/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Lypant/vendor/GLFW"]
	path = Lypant/vendor/GLFW
	url = https://github.com/BarisPozlu/glfw
