[submodule "Lypant/vendor/spdlog"]
	path = Lypant/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Lypant/vendor/GLFW"]
	path = Lypant/vendor/GLFW
	url = https://github.com/BarisPozlu/glfw
[submodule "Lypant/vendor/glm"]
	path = Lypant/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Lypant/vendor/ImGui"]
	path = Lypant/vendor/ImGui
	url = https://github.com/BarisPozlu/imgui
